<html>
    <head>
        <title>Pod: {{pod}}</title>
    </head>
    <meta http-equiv="refresh" content="0.5">
    <bgsound src="sound2.au" loop="infinite">
    <body>
        <h1>Pod: {{pod}}!</h1>
    </body>
</html>